# This kustomization.yaml is not intended to be run by itself,
# since it depends on service name and namespace that are out of this kustomize package.
# It should be run by config/default
resources:
- bases/naglfar.pingcap.com_machines.yaml
- bases/naglfar.pingcap.com_testresources.yaml
- bases/naglfar.pingcap.com_testresourcerequests.yaml
- bases/naglfar.pingcap.com_testclustertopologies.yaml
- bases/naglfar.pingcap.com_testworkloads.yaml
- bases/naglfar.pingcap.com_testworkflows.yaml
- bases/naglfar.pingcap.com_relationships.yaml
- bases/naglfar.pingcap.com_chaosrules.yaml
- bases/naglfar.pingcap.com_chaosapplies.yaml
- bases/naglfar.pingcap.com_chaosbindings.yaml
# +kubebuilder:scaffold:crdkustomizeresource

patchesStrategicMerge:
# [WEBHOOK] To enable webhook, uncomment all the sections with [WEBHOOK] prefix.
# patches here are for enabling the conversion webhook for each CRD
#- patches/webhook_in_machines.yaml
#- patches/webhook_in_testresources.yaml
#- patches/webhook_in_testresourcerequests.yaml
#- patches/webhook_in_testclustertopologies.yaml
#- patches/webhook_in_testworkloads.yaml
#- patches/webhook_in_testworkflows.yaml
#- patches/webhook_in_relationships.yaml
#- patches/webhook_in_chaosrules.yaml
#- patches/webhook_in_chaosapplies.yaml
#- patches/webhook_in_chaosbindings.yaml
# +kubebuilder:scaffold:crdkustomizewebhookpatch

# [CERTMANAGER] To enable webhook, uncomment all the sections with [CERTMANAGER] prefix.
# patches here are for enabling the CA injection for each CRD
#- patches/cainjection_in_machines.yaml
#- patches/cainjection_in_testresources.yaml
#- patches/cainjection_in_testresourcerequests.yaml
#- patches/cainjection_in_testclustertopologies.yaml
#- patches/cainjection_in_testworkloads.yaml
#- patches/cainjection_in_testworkflows.yaml
#- patches/cainjection_in_relationships.yaml
#- patches/cainjection_in_chaosrules.yaml
#- patches/cainjection_in_chaosapplies.yaml
#- patches/cainjection_in_chaosbindings.yaml
# +kubebuilder:scaffold:crdkustomizecainjectionpatch

# the following config is for teaching kustomize how to do kustomization for CRDs.
configurations:
- kustomizeconfig.yaml
