
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.4.0
  creationTimestamp: null
  name: testclustertopologies.naglfar.pingcap.com
spec:
  group: naglfar.pingcap.com
  names:
    kind: TestClusterTopology
    listKind: TestClusterTopologyList
    plural: testclustertopologies
    shortNames:
    - tct
    singular: testclustertopology
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - description: the state of cluster topology
      jsonPath: .status.state
      name: State
      type: string
    name: v1
    schema:
      openAPIV3Schema:
        description: TestClusterTopology is the Schema for the testclustertopologies
          API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: TestClusterTopologySpec defines the desired state of TestClusterTopology
            properties:
              resourceRequest:
                description: ResourceRequest cannot be empty if the tidbCluster field
                  is set
                type: string
              tidbCluster:
                properties:
                  control:
                    description: Control machine host
                    type: string
                  grafana:
                    items:
                      properties:
                        deployDir:
                          type: string
                        host:
                          type: string
                        port:
                          type: integer
                      required:
                      - deployDir
                      - host
                      type: object
                    type: array
                  monitor:
                    items:
                      properties:
                        dataDir:
                          type: string
                        deployDir:
                          type: string
                        host:
                          type: string
                        logDir:
                          type: string
                        port:
                          type: integer
                      required:
                      - dataDir
                      - deployDir
                      - host
                      type: object
                    type: array
                  pd:
                    description: PD machine hosts
                    items:
                      properties:
                        clientPort:
                          type: integer
                        dataDir:
                          type: string
                        deployDir:
                          type: string
                        host:
                          type: string
                        logDir:
                          type: string
                        peerPort:
                          type: integer
                      required:
                      - dataDir
                      - deployDir
                      - host
                      type: object
                    type: array
                  serverConfigs:
                    properties:
                      pd:
                        type: string
                      tidb:
                        type: string
                      tikv:
                        type: string
                    type: object
                  tidb:
                    description: TiDB machine hosts
                    items:
                      properties:
                        dataDir:
                          type: string
                        deployDir:
                          type: string
                        host:
                          type: string
                        logDir:
                          type: string
                        port:
                          type: integer
                        statusPort:
                          type: integer
                      required:
                      - deployDir
                      - host
                      type: object
                    type: array
                  tikv:
                    description: TiKV machine hosts
                    items:
                      properties:
                        dataDir:
                          type: string
                        deployDir:
                          type: string
                        host:
                          type: string
                        logDir:
                          type: string
                        port:
                          type: integer
                        statusPort:
                          type: integer
                      required:
                      - dataDir
                      - deployDir
                      - host
                      type: object
                    type: array
                  version:
                    description: 'TODO: add a deploy version spec: clusterName, base
                      version, component versions(for PR and self build version) etc.'
                    properties:
                      pdDownloadURL:
                        type: string
                      tidbDownloadURL:
                        type: string
                      tikvDownloadURL:
                        type: string
                      version:
                        type: string
                    required:
                    - version
                    type: object
                required:
                - control
                - version
                type: object
            type: object
          status:
            description: TestClusterTopologyStatus defines the observed state of TestClusterTopology
            properties:
              preServerConfigs:
                properties:
                  pd:
                    type: string
                  tidb:
                    type: string
                  tikv:
                    type: string
                type: object
              preVersion:
                description: 'TODO: add a deploy version spec: clusterName, base version,
                  component versions(for PR and self build version) etc.'
                properties:
                  pdDownloadURL:
                    type: string
                  tidbDownloadURL:
                    type: string
                  tikvDownloadURL:
                    type: string
                  version:
                    type: string
                required:
                - version
                type: object
              state:
                description: default Pending
                enum:
                - pending
                - ready
                - updating
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
