
---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.2.5
  creationTimestamp: null
  name: testclustertopologies.naglfar.pingcap.com
spec:
  group: naglfar.pingcap.com
  names:
    kind: TestClusterTopology
    listKind: TestClusterTopologyList
    plural: testclustertopologies
    singular: testclustertopology
  scope: Namespaced
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      description: TestClusterTopology is the Schema for the testclustertopologies
        API
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          description: TestClusterTopologySpec defines the desired state of TestClusterTopology
          properties:
            resourceRequest:
              description: ResourceRequest cannot be empty if the tidbCluster field
                is set
              type: string
            tidbCluster:
              properties:
                control:
                  description: Control machine host
                  type: string
                grafana:
                  items:
                    properties:
                      deployDir:
                        type: string
                      host:
                        type: string
                    required:
                    - deployDir
                    - host
                    type: object
                  type: array
                monitor:
                  items:
                    properties:
                      dataDir:
                        type: string
                      deployDir:
                        type: string
                      host:
                        type: string
                      logDir:
                        type: string
                    required:
                    - dataDir
                    - deployDir
                    - host
                    - logDir
                    type: object
                  type: array
                pd:
                  items:
                    properties:
                      dataDir:
                        type: string
                      deployDir:
                        type: string
                      host:
                        type: string
                      logDir:
                        type: string
                    required:
                    - dataDir
                    - deployDir
                    - host
                    - logDir
                    type: object
                  type: array
                tidb:
                  description: TiDB machine hosts
                  items:
                    properties:
                      dataDir:
                        type: string
                      deployDir:
                        type: string
                      host:
                        type: string
                      logDir:
                        type: string
                    required:
                    - deployDir
                    - host
                    - logDir
                    type: object
                  type: array
                tikv:
                  description: TiKV machine hosts
                  items:
                    properties:
                      dataDir:
                        type: string
                      deployDir:
                        type: string
                      host:
                        type: string
                      logDir:
                        type: string
                      port:
                        description: default 20160
                        type: integer
                      statusPort:
                        description: default 20180
                        type: integer
                    required:
                    - dataDir
                    - deployDir
                    - host
                    - logDir
                    - port
                    - statusPort
                    type: object
                  type: array
                version:
                  description: 'TODO: add a deploy version spec: clusterName, base
                    version, component versions(for PR and self build version) etc.'
                  properties:
                    version:
                      type: string
                  required:
                  - version
                  type: object
              required:
              - control
              - version
              type: object
          type: object
        status:
          description: TestClusterTopologyStatus defines the observed state of TestClusterTopology
          properties:
            state:
              description: default Pending
              enum:
              - Pending
              - Ready
              type: string
          type: object
      type: object
  version: v1
  versions:
  - name: v1
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
